body{
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
iframe{
    margin: 10px;
}
.navbar {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
.navbar ul{
    list-style-type: none;
    background-color: hsl(209, 72%, 35%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: hsl(209, 72%, 50%);
}
.navbar li{
    float: left;
}
