[submodule "ext_modules/utemplate"]
	path = ext_modules/utemplate
	url = https://github.com/pfalcon/utemplate.git
[submodule "ext_modules/microdot"]
	path = ext_modules/microdot
	url = https://github.com/miguelgrinberg/microdot.git
